<section class="about">
      <home-header [isTopZero]="true"></home-header>
      <main class="main">
            <div>

                  <div class="description">
                        <div class="icon-container">
                              <a href="https://github.com/ivaaak" target="_blank"><fa-icon [icon]="github"></fa-icon></a>
                        </div>
                  </div>
            </div>
      </main>
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681632290/about-stay/skills_lwzfwr.png" alt="skills">
</section>
